<div class="block_chat_messages well well-sm">
	<ul class="media-list">
		{{#each model as |message index|}}
			{{list-message message=message}}
		{{/each}}
	</ul>
</div>

<div class="block_send_message">
	{{form-message-add addMessage="sendMessage"}}
</div>

{{outlet}}
